<!-- About Section -->
    <section id="hotels">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dove Soggiornare</h2>
                    <h3 class="section-subheading text-muted">We will be staying in Naples the night before the event and travel to Vietri on the day of the event. Abbiamo individuato per voi alcune strutture ricettive dove potrete soggiornare nei giorni dell'evento e,perché no, in quelli successivi, appro ttando dell'occasione per esplorare la meravigliosa Costiera Amal tana.Vi invitiamo a non attardarvi a prenotare: in quei giorni le strutture ricettive di Vietri in genere fanno registrare il "tutto esaurito"!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hotel-la-lucertola.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Hotel La Lucertola</h4>
                                    <h4 class="subheading">Via Cristoforo Colombo, 84019 Vietri sul Mare, Salerno</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Situata sulle scogliere di Vietri sul Mare a pochi passi da Torre Crestarella, La Lucertola ospita camere moderne con balcone a acciato sul Golfo di Salerno. La struttura è completamente rinnovata, e dispone di spiaggia privata con bar e solarium a un costo aggiuntivo.Tutte luminose e climatizzate, le camere dell'Hotel La Lucertola propongono la connessione WiFi gratuita, un minibar e una TV con canali satellitari e pay per view.Dispone di camere singole , matrimoniale triple e quadruple. Per info e disponibilità contattare Serena al numero 089210255 comunicando che fate parte del matrimonio di Nicoletta e Leto.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/PALAZZODELLAGUARDIA.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>B&B Palazzo Della Guardia</h4>
                                    <h4 class="subheading">Via Osvaldo Costabile, 84019 Vietri sul Mare, Salerno</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Il B&B si trova in un palazzo storico appena ristrutturato nel centro del paese, a pochi passi dalla chiesa di San Giovanni e circa 10 min a piedi da Torre Crestarella. La struttura dispone di 5 camere matrimoniali. Per chiedere disponibilità e un preventivo, chiamare la sig.ra Tiziana (3347645452) comunicando che fate parte del matrimonio di Nicoletta e Leto.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Calamarina.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>B&B Calamarina</h4>
                                    <h4 class="subheading">Via Osvaldo Costabile, 84019 Vietri sul Mare, Salerno</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Il B&B si trova nel centro del paese, a 4 min dalla chiesa di San Giovanni e a circa 10 min a piedi da Torre Crestarella. La struttura dispone di 3 camere matrimoniali. Per chiamare la Sig.ra Amalia (3458814253) comunicando che fate parte del matrimonio di Nicoletta e Leto.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/amami.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>B&B amaMi</h4>
                                    <h4 class="subheading">Via Roma, 84019 Vietri sul Mare, Salerno</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Situato a 5 minuti dalla piazzetta di Vietri e accanto alla famosissime ceramiche SOLIMENE, il bb amami dispone di 5 camere matrimoniali, una terrazza comune e connessione wifi. Per informazioni su disponibilità e prezzi contattare direttamente Daniela (3934721918) comunicando che fate parte del matrimonio di Nicoletta e Leto.</p>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Maratere.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>B&B Mareterè</h4>
                                    <h4 class="subheading">Via Diego Taiani 3 piano, interno 11, 84019 Vietri sul Mare, Salerno</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Una buona posizione per una vacanza senza stress a Vietri, Mareterè è un bed and breakfast circondato da viste sul mare. La struttura dispone, di camere matrimoniali, triple e quadruple e tra gli altri servizi o re un bar, di una sala comune e di un parcheggio privato. Si trova a 600 metri dalla spiaggia di La Baia e o re una cucina in comune. La reception è attiva 24 ore su 24 e sono disponibili l’ascensore e un deposito per i bagagli.Per info e prenotazioni contattare la signora Antonia al numero 3475733856 comunicando che fate parte del matrimonio di Nicoletta e Leto. </p>
                                </div>
                            </div>
                        </li>
                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/PalazzoCarrano.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>B&B Palazzo Carrano</h4>
                                    <h4 class="subheading">Corso Umberto I 19 Secondo piano, 84019 Vietri sul Mare, Salerno</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Il B&B si trova nel centro di Vietri sul Mare, a pochi passi dalla chiesa di San Giovanni e circa 5 min a piedi da Torre Crestarella. La struttura dispone di 6 camere matrimoniali. Per chiedere disponibilità e un preventivo, chiamare Matilde al numero 3294074998 comunicando che fate parte del matrimonio di Nicoletta e Leto.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
