<!-- Team Section -->
    <section id="travel" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Consigli Di Viaggio</h2>
                    <h3 class="section-subheading text-muted">Here you will find some travel tips and the latest news about our wedding planning.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">Vietri e Dintorni</h4>
                    <p class="text-muted">Siamo certi che, per chi non la conoscesse ancora, Vietri sul Mare sarà una bellissima scoperta. 
                        Se avrete occasione di trattenervi qualche giorno, vi divertirete a scoprire i numerosi negozi di ceramica.
                        Consigliamo una visita alla maestosa fabbrica di Solimene, all'elegante negozio delle ceramiche Pinto, così
                        come uno sguardo alle ceramiche artistiche di Antonio D'Acunto e Liguori o alle vere e proprie opere d'arte
                        di Mirkò.
                        Per chi avesse il tempo di esplorare i dintorni di Vietri, suggeriamo di visitare la città di Salerno, con il suo
                        bellissimo lungomare, il centro storico e lo splendido chiostro del Duomo, ma anche le mete più famose
                        della Costiera Amal tana come Amal , Positano e, se potete la splendida isola di Capri.
                        I giorni di weekend di giugno possono essere di gran tra co. Se non volete usare l'auto, Salerno è
                        raggiungibile da Vietri con una passeggiata di circa 45 minuti o anche con autobus urbani e treni. Le mete
                        della Costiera sono collegate con gli autobus SITA, ,ma più comodamente raggiungibili con i traghetti in
                        partenza da Marina di Vietri, i cui orari e prezzi possono essere trovati sul sito Travelmar.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">Arriving by train/plane</h4>
                    <p class="text-muted">To enjoy your stay in Vietri without stress, we recommend leaving your car at home! In fact, reaching the Vietri sul Mare - Costa d'Amalfi train station is very simple, both from Salerno station (in less than 10 minutes with regional trains departing approximately every 30 minutes or with urban buses) and from Naples station (in 57 minutes with metropolitan trains departing approximately every 30 minutes from the underground station of Piazza Garibaldi).
From Naples airport you can reach Naples central station using the Alibus service departing approximately every 15 minutes.
Finally, from Vietri station you can take a lift that takes you directly to Piazza Matteotti, in the historic centre of the town.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">Arriving by car</h4>
                    <p class="text-muted">If you want to arrive by car, you can reach Vietri sul Mare from the North via the A3 Naples-Salerno motorway (Vietri sul Mare exit). From the South, via the A2 Salerno-Reggio Calabria motorway, at the Salerno exit follow the signs for the Amalfi Coast, of which Vietri is the first town.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">Where to park</h4>
                    <p class="text-muted">Not all accommodation facilities will have a parking space available. Alternatively, you can contact a private guarded car park in Vietri centre (+39 3334097930). Other options are municipal paid parking/blue stripes.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">Our wedding planner</h4>
                    <p class="text-muted">For any further information regarding the event you can contact our wedding planner Sabrina at +39 3475260581.</p>
                </div>
            </div>
            
            <!--div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
        </div-->
        </div>
    </section>
